# ADVANCE LISTS
Slicing, packing & unpacking, map & zip

# slicing
* list[start:end:step]
* start----inclusive
* stop-----exclusive
* step-----jump size
* Negative step → reverse

In [30]:
lst = list(range(1, 21))
sli_ce = lst[5:16] # from index 5 to 15
extracted = lst[::3]# every 3rd element
reverse = lst[::-1]# reversed list
last_five = lst[-5:]# lastfive
remove = lst[1:-1]# remove 1 and last numbers
print("Indexes 5th to 15:",sli_ce)
print("Every 3rd element:", extracted)
print("Reversed:", reverse)
print("Last five elements:", last_five)
print("Excluded 1st and last elements:", remove)

Indexes 5th to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Every 3rd element: [1, 4, 7, 10, 13, 16, 19]
Reversed: [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Last five elements: [16, 17, 18, 19, 20]
Excluded 1st and last elements: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

With slicing:
list[start:end] = new_values
We can:
* Replace elements
* Insert elements
* Delete elements
* Even change list size

In [40]:
#Replace middle 3 elements with [100, 200, 300]
data = [10, 20, 30, 40, 50, 60, 70]
data[2:5] = [100,200,300]
print("Replaced data:",data)

Replaced data: [10, 20, 100, 200, 300, 60, 70]

In [39]:
#Insert [999, 888] at index 3 using slicing
data1 = [10, 20, 30, 40, 50, 60, 70]
data1[3:3] = [999,888] #data1[3:3] means “replace nothing at index 3” → so it inserts.
print("Inserted data:",data1)

Inserted data: [10, 20, 30, 999, 888, 40, 50, 60, 70]

In [41]:
#Delete elements from index 2 to 4 using slicing
data2 = data1 = [10, 20, 30, 40, 50, 60, 70]
data2[2:5] = []
print("Deleted list:",data2)

Deleted list: [10, 20, 60, 70]

# Packing and Unpacking
* (*) in unpacking → collects multiple values
* You can use only one starred variable
* Order matters

In [8]:
#Unpack into a, b, *middle, e
numbers=[1,2,3,4,5]
a,b,*middle,e = numbers
print("a:",a)
print("b:",b)
print("Middle:",middle)
print("e:",e)

a: 1
b: 2
Middle: [3, 4]
e: 5

In [10]:
#Print only the middle elements
numbers=[1,2,3,4,5]
a,b,*middle,e = numbers
print(middle)

[3, 4]

In [26]:
%%time
#Swap first and last using unpacking
#way1
numbers[0],numbers[-1]=numbers[-1],numbers[0] # pythonic way
print(numbers)

[1, 2, 3, 4, 5]
CPU times: total: 0 ns
Wall time: 0 ns

In [27]:
%%time
#way2
#various ways of swapping 
numbers1=[1,2,3,4,5]
first, *mid, last = numbers1
numbers1 = [last, *mid, first]
print(numbers1)

[5, 2, 3, 4, 1]
CPU times: total: 0 ns
Wall time: 0 ns

In [28]:
%%time
#way3
numbers=[1,2,3,4,5]
numbers = [e,b,*middle,a]
print(numbers)

[5, 2, 3, 4, 1]
CPU times: total: 0 ns
Wall time: 2.21 ms

In [34]:
#Unpack first student, last student, and remaining into a list
#Print them separately
students = ["Ram", "Shyam", "Geeta", "Anu", "Priya"]
first,*middle,last2 = students
print("First student:",first)
print("Middle student:",middle)
print("Last student:",last2)

First student: Ram
Middle student: ['Shyam', 'Geeta', 'Anu']
Last student: Priya

In [37]:
*start,last = students
print(students)

['Ram', 'Shyam', 'Geeta', 'Anu', 'Priya']

# List Comprehensions
* General pattern [expression for item in iterable if condition]
* Break it mentally as:
* What to generate?
* From where?
* Under what condition?

In [21]:
#Create a list of:
#Squares of even numbers from 1–50
squares_even = [x**2 for x in range(1,51) if x % 2 == 0] 
print(squares_even)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

In [22]:
#Cubes of numbers divisible by 5
cubes = [x**3 for x in range(1,51) if x % 5 == 0]
print(cubes)

[125, 1000, 3375, 8000, 15625, 27000, 42875, 64000, 91125, 125000]

In [23]:
#Numbers divisible by 3 and 7 between 1–100
divisibilty = [x for x in range(1,101) if x % 3 == 0 and x % 7 == 0]
print(divisibilty)

[21, 42, 63, 84]

In [24]:
#Squares of odd numbers divisible by 3 from 1–100
squares_odd = [x**2 for x in range(1,101) if x%2 != 0 and x%3==0]
print(squares_odd)

[9, 81, 225, 441, 729, 1089, 1521, 2025, 2601, 3249, 3969, 4761, 5625, 6561, 7569, 8649, 9801]

list comprehension with Enumerate ------(index, value)

from this ["apple", "banana", "cherry"]
to this :
(0, "apple")
(1, "banana")
(2, "cherry")

In [25]:
#Basic example
words = ["apple", "banana", "cherry"]
indexed_words = [(i,word) for i, word in enumerate(words)]
print(indexed_words)

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [26]:
#starting from index 1
indexed_words = [(i,word) for i, word in enumerate(words, start = 1)]
print(indexed_words)

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]

In [27]:
#Get words with even index
words = ["apple", "banana", "cherry"]
even_indexed_words = [word for i, word in enumerate(words) if i % 2 ==0]
print(even_indexed_words)

['apple', 'cherry']

List comprehension with zip

[expression for var1, var2 in zip(list1, list2) if condition]

In [20]:
#Combine two lists
names2 = ["Ram", "Shyam", "Geeta"]
marks = [85, 90, 78]
combined = [(name,mark) for name,mark in zip (names2,marks)]
print(combined)

[('Ram', 85), ('Shyam', 90), ('Geeta', 78)]

In [44]:
#Students who scored > 80
top_students = [name for name,mark in zip(names2,marks) if mark > 80]
print(top_students)

['Ram', 'Geeta']

In [45]:
#Advanced: zip() + enumerate() Together
names = ["Ram", "Shyam", "Geeta"]
marks = [85, 90, 78]
result = [(i,name,mark) for i, (name,mark) in enumerate(zip(names,marks),start = 1)]
print(result)

[(1, 'Ram', 85), (2, 'Shyam', 90), (3, 'Geeta', 78)]

In [53]:
#formatted results
Formatted = [f"{i}.{name} scored {mark}"
             for i, (name,mark) in enumerate(zip(names,marks),start = 1)]
print(Formatted)

['1.Ram scored 85', '2.Shyam scored 90', '3.Geeta scored 78']

In [64]:
#types of formatting ['Math -> 88', 'Physics -> 92', 'Chemistry -> 79']
subjects = ["Math", "Physics", "Chemistry"]
scores = [88, 92, 79]
formatted = [f"{subject} -> {score}"
             for (subject,score) in zip(subjects,scores)]
print(formatted)

['Math -> 88', 'Physics -> 92', 'Chemistry -> 79']

In [66]:
#Create list of word lengths
words = ["apple", "banana", "cherry", "date"]
word_length = [len(word) for word in words]
print(word_length)

[5, 6, 6, 4]

In [68]:
#Create list of uppercase words
uppercase = [word.upper() for word in words]
print(uppercase)

['APPLE', 'BANANA', 'CHERRY', 'DATE']

In [69]:
#Create list of words starting with 'b'
start_b = [word for word in words if word.startswith('b')]
print(start_b)

['banana']

In [74]:
#create list of words length greater than 5
words = ["apple", "banana", "cherry", "kiwi", "watermelon", "grape"]
gret_5 = [len(word) for word in words if len(word) > 5]
print(gret_5)

[6, 6, 10]

# Nested Lists

In [2]:
#Extract second row
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
second_row = matrix[1]
print(second_row)

[4, 5, 6]

In [4]:
#Extract third column
third_column = [row[2] for row in matrix]
print(third_column)

[3, 6, 9]

In [5]:
#Flatten the matrix into single list
flattened = [element for row in matrix for element in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#Transpose the matrix using list comprehension
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]