<a href="https://colab.research.google.com/github/Varshashri1505/PythonBasics/blob/main/Phython_Basics_for_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languages used for Machine Learning:
1. Python
2. R

#Print Function

In [103]:
print("Machine Learning")

Machine Learning

In [104]:
print("Machine Learning"+" Projects")

Machine Learning Projects

In [105]:
print(8)

8

In [106]:
print(8+3)

11

#Basic Data Types:
1. int
2. float
3. str

In [107]:
type(8)

int

In [108]:
type(5.3)

float

In [109]:
type("Telugu")

str

#Constants and Variables

In [110]:
super_hero = "Iron Man"
print(super_hero)

Iron Man

In [111]:
super_hero = "Captain America"
print(super_hero)

Captain America

In [112]:
hero1, hero2, hero3 = "Iron Man","Captain America","Thor"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Thor

In [113]:
x = y = z = 25
print(x)
print(y)
print(z)

25
25
25

#Input Function

In [73]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))
sum = number_1 + number_2
print(sum)

Enter the first number: 25
Enter the second number: 45
70

In [74]:
#Changing the data type in python
num = 5
print(float(num))

5.0

#Basic Data Types in Pyhton(Detiled)
1. Integer
2. Floating Point
3. Complex
4. Boolean
5. String

In [75]:
#integers
a=8
print(a)

8

In [76]:
type(a)

int

In [77]:
#floating point
b=2.3
print(b)
type(b)

2.3

float

In [78]:
#Complex Numbers
c= 1 + 3j
print(c)
type(c)

(1+3j)

complex

Conversion of one data type to another

In [79]:
# int to float
x=10
print(x)
type(x)

10

int

In [80]:
y=float(x)
print(y)
type(y)

10.0

float

In [81]:
#float to int
x=5.88
print(x)
type(x)

5.88

float

In [82]:
y=int(x)
print(y)
type(y)

5

int

Boolean
1. True
2. False

In [83]:
a = True
print(a)
type(a)

True

bool

In [84]:
b = False
print(b)
type(b)

False

bool

In [85]:
#Example
a = 7 < 3
print(a)
type(a)

False

bool

In [86]:
a = 7 > 3
print(a)
type(a)

True

bool

String

In [87]:
print("Machine Learning")

Machine Learning

In [88]:
print('Machine Learning')

Machine Learning

In [89]:
#Basic Operations on Strings
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [90]:
#repeated terms
print("Hello"*5)

HelloHelloHelloHelloHello

Slicing

In [91]:
my_string = "Programming" #values from index 1 to index 5-1 will be sliced
print(my_string[1:5])

rogr

In [92]:
#step
print(my_string[0:10:2])

Pormi

String Concatination

In [93]:
word_1 = "Machine "
word_2 = "Learning"

print(word_1 + word_2)

Machine Learning

#Types of Objects in Python
1. Immutable Objects
2. Mutable Objects


Immutable Objects:

1. int 2. float 3. string 4. bool 5. tuple

Mutable Objects
1. List
2. Set
3. Dictionary

#-> List

In [94]:
#List should be included in square Brackets
#store multiple values
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [95]:
#lists can have multiple data types
my_list= [2,3,1.8,'English',True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are mutable ---> Changable

In [96]:
#add elements to a alist
my_list= [2,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [97]:
#print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [98]:
#list allows duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [99]:
print(len(list_1))

8

In [100]:
#initializing an empty list
list_2 = []
print(list_2)

[]

In [101]:
list_2.append(5)
print(list_2)

[5]

In [114]:
#delete an item in a list
list_2 = [2,3,1.8,'English',True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [102]:
#join two lists
list_3 = [1,2,3,4,5]
list_4 = [2,5,6,7,8,9]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 2, 5, 6, 7, 8, 9]


#-> Tuple

In [116]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [117]:
#tupple allows multiple data types
tuple_2=(6,7,3.5,'Data Science', False)
print(tuple_2)

(6, 7, 3.5, 'Data Science', False)

In [118]:
#converting list into a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [119]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable --> Unchangable

In [120]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [121]:
print(len(my_tuple))

4

# --> Set

In [122]:
#SET --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
# we cannot call elements through index
print(my_set[0])

In [123]:
#convert a list to set
list_5 = [4,5,6,7]
print(list_5)

my_set=set(list_5)
print(my_set)

[4, 5, 6, 7]
{4, 5, 6, 7}

In [124]:
#set doesnt allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

#--> Dictionary

Key-value Pair

In [125]:
my_dictionary = {'name':'varsha','age':20,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'varsha', 'age': 20, 'country': 'India'}

dict

In [126]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

varsha
20
India

In [127]:
# dictionary doesnt allow duplicate values
dictionary_2 = {'name':'varsha','age':20,'country':'India','name':'varsha','age':20,'country':'India'}
print(dictionary_2)

{'name': 'varsha', 'age': 20, 'country': 'India'}

# Operators in Python
1. Arthimetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Arithmetic Operators

In [129]:
num_1 = 10
num_2 = 20
#addition
sum = num_1 + num_2
print('sum = ',sum)

#subtraction
difference = num_1 - num_2
print('Difference =', difference)

#multiplication
product = num_1 * num_2
print('Product =', product)

#Quoient
division = num_1 / num_2
print('Divison =', division)

#Exponent
exp = num_1 ** num_2 #10^20
print('Exponent =',exp)

#Modulas/Remainder
Mod = num_1 % num_2
print('Modulas =', Mod)

sum =  30
Difference = -10
Product = 200
Divison = 0.5
Exponent = 100000000000000000000
Modulas = 10

2. Assignement Operators
+=

-=

*=

**=

/=

%=

In [131]:
a = 5
print(a)

5

In [132]:
a = 5
a += 5 #a = a+5
print(a)

10

In [135]:
b = 5
b -= 3 #b = b+5
print(b)

2

3. Comparison Operators

In [136]:
a = 5
b= 10
print(a == b) # equal to
print(a != b) # notequal to
print(a > b)# greater than
print(a < b) # lesser than
print( a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operators

and

or

not

In [139]:
a = 10
print(a > 20 and a > 5) # one condition is true then false
print(a > 20 or a > 5) # one condition is true than true only
print(not(a > 8 and a > 5)) #inverted to false

False
True
False

5. Identity Operators

is

isnot

In [140]:
x=5
y=5
print(x is y)

True

In [141]:
x=5
y=10
print(x is y)

False

In [142]:
x=5
y=5
print(x is not y)

False

In [143]:
x=5
y=10
print(x is not y)

True

6. Membership Operators

in

not in

In [144]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

#If else statements in py

simple if else statement

In [145]:
a = 30
b = 50

if(a > b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [149]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
if(a > b):
  print('First number is the greatest number')
else:
  print('Second number is the greatest number')

Enter the first number: 45
Enter the second number: 25
First number is the greatest number

if elif else statement

In [150]:
a = 15
b = 25
c = 30

if (b < a > c):
  print('a is the greatest number')
elif (a < b > c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

nested if statement

In [151]:
a = 20
b = 40
c = 60

if(a > b):
  if(a > c):
    print('a is the greatest number')
  else:
    print('c is greatest number')
else:
  if(b > c):
    print('b is greatest number')
  else:
    print('c is greatest number')

c is greatest number

#Loops in Py

for loop( when we know the loop end)

In [3]:
#wrong approach
laptop1 = int(input('Enter the price of the laptop: '))
laptop2 = int(input('Enter the price of the laptop: '))
laptop3 = int(input('Enter the price of the laptop: '))
laptop4 = int(input('Enter the price of the laptop: '))
laptop5 = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 200000
Enter the price of the laptop: 300000
Enter the price of the laptop: 400000
Enter the price of the laptop: 500000
Enter the price of the laptop: 600000

In [8]:
for i in range(5):
  laptop_price = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 1
Enter the price of the laptop: 2
Enter the price of the laptop: 3
Enter the price of the laptop: 4
Enter the price of the laptop: 5

In [9]:
# wrong approach
numbers = [50, 100, 150, 200]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [10]:
numbers = [50, 100, 150, 200]
for i in numbers:
  print(i)

50
100
150
200

While Loop(not sure were to stop the loop)

syntax:
while condition:
  statement

In [11]:
i = 0

while i < 10:
  print(i)
  i += 1 # i+1 increment

0
1
2
3
4
5
6
7
8
9

In [13]:
i = 5 #incorrect condition

while i<3:
  print(i)
  i += 1